 body {
  margin: 0;
  height: 100vh;
  background-image: url("../s/ok.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}